# WE ARE ENTREPERNUERS

WE are ENTREPERNUERS

In [1]:
print('WE ARE ENTREPRENEURS')

WE ARE ENTREPRENEURS

# PRACTICE OF PYTHON

For any commans to see hints: press ----> "Shift+tab"

In [2]:
1*1

1

In [3]:
459+5686

6145

In [5]:
a=1*1
b=64*6
a*b

384

In [6]:
x=45
y=x+5;
print (x+y)

95

In [26]:
a

1

In [37]:
b

36

# FUNCTIONS AND RECURSION

In [7]:
def fact(n):
    if(n==0):
        return 1;
    else:
        return n*fact(n-1);

N=int(input());print(fact(N))

5
120

In [8]:
fact(110)

15882455415227429404253703127090772871724410234473563207581748318444567162948183030959960131517678520479243672638179990208521148623422266876757623911219200000000000000000000000000

In [54]:
b

15

In [53]:
b=sum(10, 5)
print(b)

15

In [21]:
n=int(input())    # while is used for number iterating where as for is used for the 
s=0
i=0
while(i<n):
    s=s+n
    i=i+1;
print(s)

5
25

# POPULAR KEYBOARD SHORTCUTS

In [16]:
print('PRESS "H" TO DISPLAY SHORTCUTS')

PRESS "H" TO DISPLAY SHORTCUTS

# IMPORT LIBRARIES

In [15]:
import pandas as pd  
#data manuplation and analysation..

import numpy as np    
#addinglarge, multi-dimensional arrays and matrices,large collection of high-level mathematical functions

import matplotlib.pyplot as plt 
# data vizualisation ,pyplot->a sub directory for data vizualisation(graph) 
#  %matplotlib inline  --->   makes the all visual graphs in one line

%matplotlib inline

In [14]:
pd.__version__

'0.23.4'

# DATATYPES AND VARIABLES

In [22]:
type(56)

int

In [11]:
print(type(45.02))
print(type(789))
print(type(0.125))
print(type("WE ARE ENTREPRENERS"))
print(type([45,54,56923,2]))
print(type(False))
print(type([45,54,56923,2,'ramu']))

<class 'float'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'bool'>
<class 'list'>

In [28]:
"32"   # prints as strings" "
"Hello world"

'Hello world'

In [29]:
True

True

In [33]:
age=25*456/5698
print(age)

2.0007020007020007

In [34]:
name="kolam"
print(name)

kolam

In [35]:
age=age+age

In [36]:
age

4.001404001404001

# LISTS ( array consists of all data types-->int,str,float)

In [42]:
numbers=[1,5,6,5]
names=[4,5,6,"namesw","njueeo",True]
print(numbers)
print(names)

[1, 5, 6, 5]
[4, 5, 6, 'namesw', 'njueeo', True]

In [40]:
type(numbers)

list

In [41]:
len(numbers)

4

In [43]:
type(names)

list

In [44]:
numbers[3]

5

In [45]:
names[5]

True

# Dictionaries

In [1]:
menu ={"a":456,"b":45656,"c":456}

In [2]:
menu["a"]

456

In [3]:
menu["PUKA"]

KeyError: 'PUKA'

# OPERATORS

In [4]:
1+1

2

In [5]:
10-5

5

In [6]:
10/5

2.0

In [7]:
10 / 5

2.0

In [8]:
1 & 1

1

In [9]:
56&456

8

In [10]:
1==1

True

In [11]:
1==56

False

In [12]:
5 !=456

True

In [13]:
65!=45

True

In [14]:
5==5

True

In [16]:
"boris"=="koja"

False

In [17]:
"koja"=="koja"

True

In [24]:
4==4

True

In [19]:
10<12

True

In [22]:
print(10>=1)

True